:root{
    --light-green: #e4ea6c;
    --dark-grey: #313844;
    --dark-green: #0d5d78;
    --light-blue: #aad5e1;
    --light-grey: #dbdbdd;
    --burgundy: #7A003B;
}

*{
    box-sizing: border-box;
}

body {
    background-color: white;
    padding-bottom: 0;
}

h3{
    font-size: 25px !important;
    margin-top:0px !important;
}

.events-container{
    display:flex;
    align-items: center;
}

.event-wrapper{
    display:grid;
    border-top: 1px solid #000;
    font-family: "Arial";
    margin-bottom: 30px;
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-auto-columns: 1fr;
    color:#313844;
    width: 50%;
}


.event-banner{
    margin-bottom: 5px;
}

.left-col{
    grid-column: 1;
    grid-row:1;
    padding:10px;
    vertical-align: top;
}

.event-register-cell{
    grid-column: 2;
    grid-row: 2;
    justify-content: flex-end;
    display: flex;
    align-self: end;
}
.register-button{
    transition:0.3s;
    align-items:center;
    color:#313844;
    border-radius: 10rem;
    padding: .5rem 3.1rem;
    border: 1px solid #313844;
}

.register-button:hover{
    transition: 0.3s;
    background-color: #000;
    color: #fff;
    align-items:center;
    text-decoration: none;
}

.event-date, .event-time{
    font-weight:800;
    font-size:16px;
}


.right-col{
    grid-column: 2;
    grid-row:1;
    padding-top:10px;
}


@media screen and (max-width:700px){
    .event-left-cell{
        display:none;
    }
    .event-wrapper{
        width:100%;
    }
    .event-register-cell,.event-corner-time-cell{
        grid-column: 2;
    }
}