:root{
    --light-green: #e4ea6c;
    --dark-grey: #313844;
    --dark-green: #0d5d78;
    --light-blue: #aad5e1;
    --light-grey: #dbdbdd;
    --burgundy: #7A003B;
}

*{
    box-sizing: border-box;
}

body {
    background-color: white;
    padding-bottom: 0;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }